.switch_button {
    background-color: #172E52;
    color: #fff;
    font-size: 1.4rem;
    align-self: center;
    padding: 1rem 3rem;
    margin-top: 2rem;
    border-radius: 5;
    cursor: pointer;
}