.dashboard {
	display: flex;
	flex-direction: row;
	width: 1024px;
	height: 500px;
}

.sub-screen {
	width: 100%;
	padding: 0 0 5rem 23rem;
	height: 100%;
	background-color: #eee;

	@media screen and (max-width: 800px) {
		padding: 0 0 5rem 0;
	}
}

.mainscreen {
	width: 80vw;
	height: 90vh;
	align-self: center;
	margin: auto 0;
	background-color: #fff;
	z-index: 20;
	box-shadow: 0 1rem 2rem rgba($color: #000000, $alpha: 0.15);
	flex-direction: row;
	display: flex;

	@media screen and (min-width: 1440px) {
		width: 1120px;
		height: 700px;
	}
}
